<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add New Task</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">

</head>
<body>
<div class="container mt-5">
    <h1>Add New Task</h1>

    <!-- Form to add a new inventory item -->
    <form th:action="@{/task/add}" th:object="${task}" method="post">
        <div class="mb-3">
            <label for="taskName" class="form-label">Task Name</label>
            <input type="text" id="taskName" th:field="*{taskName}" class="form-control" placeholder="Enter item name" required>
        </div>

        <div class="mb-3">
            <label for="taskDescription" class="form-label">Description</label>
            <input type="text" id="taskDescription" th:field="*{taskDescription}" class="form-control" placeholder="Enter the description" required>
        </div>

        <div class="mb-3">
            <label for="priority" class="form-label">Priority</label>
            <select id="priority" th:field="*{priority}" class="form-select" required>
                <option value="Low">Low</option>
                <option value="Medium">Medium</option>
                <option value="High">High</option>

            </select>
        </div>

        <div class="mb-3">
            <label for="taskStatus" class="form-label">Status</label>
            <select id="taskStatus" th:field="*{taskStatus}" class="form-select" required>
                <option value="To Do">To Do</option>
                <option value="In progress">In progress</option>
                <option value="Completed">Completed</option>

            </select>
        </div>

        <div class="mb-3">
            <label for="addDate" class="form-label">Creation Date</label>
            <input type="date" id="addDate" th:field="*{addDate}" class="form-control" >
        </div>


        <div class="mb-3">
            <label for="assignedTo" class="form-label">Assigned To</label>
            <select id="assignedTo" th:field="*{assignedTo}" class="form-control">
                <option value="" >Select employee</option>
                <option th:each="employee : ${employee}"
                        th:value="${employee.id}"
                        th:text="${employee.firstName}"></option>
            </select>
        </div>

        <div class="mb-3">
            <label for="dueDate" class="form-label">Due Date</label>
            <input type="date" id="dueDate" th:field="*{dueDate}" class="form-control" required>
        </div>


        <button type="submit" class="btn btn-primary">Add task</button>
        <a href="/task" class="btn btn-secondary">Cancel</a>
    </form>
</div>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>