<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <!-- Link to external CSS using Thymeleaf -->
    <link th:href="@{/css/authentication.css}" rel="stylesheet" type="text/css">
</head>
<body>
<h1 th:align="center">Login</h1>
<form th:action="@{/login}" method="post">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required maxlength="5">
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
    </div>
    <div>
        <button type="submit">Login</button>
    </div>
    <div th:if="${error != null}">
        <p style="color: red;">Invalid username or password</p>
    </div>
    <p th:align="center">Don't have an account? <a href="/sign-up">Sign up here</a></p>
</form>

</body>
</html>
