<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sign Up</title>
    <script th:src="@{/js/script.js}"></script>
    <!-- Link to external CSS using Thymeleaf -->
    <link th:href="@{/css/authentication.css}" rel="stylesheet" type="text/css">

</head>
<body>
<h1 th:align="center">Sign Up</h1>
<!-- binds the form to a model object user-->
<form th:action="@{/signup-process}" method="post" th:object="${user}">
    <div>
        <label for="userName">Username:</label>
        <input type="text" id="userName" th:field="*{userName}" required>
        <div th:if="${#fields.hasErrors('userName')}" style="color: red;">
            <p th:errors="*{userName}"></p>
        </div>
    </div>
    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" th:field="*{email}" required>
        <div th:if="${#fields.hasErrors('email')}" style="color: red;">
            <p th:errors="*{email}"></p>
        </div>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" th:field="*{password}" required>
        <div th:if="${#fields.hasErrors('password')}" style="color: red;">
            <p th:errors="*{password}"></p>
        </div>
    </div>
    <div>
        <label for="role">Role:</label>
        <select id="role" th:field="*{role}">
            <option value="ROLE_ADMIN">ROLE_ADMIN</option>
            <option value="ROLE_ASSISTANT">ROLE_ASSISTANT</option>
        </select>
        <div th:if="${#fields.hasErrors('role')}" style="color: red;">
            <p th:errors="*{role}"></p>
        </div>
    </div>
    <div>
        <button type="submit">Sign Up</button>
    </div>
    <div th:if="${#fields.hasErrors()}">
        <p style="color: red;">Please correct the highlighted fields.</p>
    </div>

    <p th:align="center">Already have an account? <a href="/login">Login here</a></p>
</form>
</body>
</html>